<a
  style="cursor: pointer;"
  class="list-group-item clearfix">
  <div class="list-group-item-heading">
    <div class="row">
      <div class="col-xs-6">
        <span class="pull-left">
          <img
            [src]="bikeModel.photoUrl"
            alt="{{ bikeModel.bikeModelName }}"
            class="img-responsive"
            style="max-height: 200px;">
        </span>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <h4>{{ bikeModel.bikeModelName }}</h4> <br>
          <h4>&euro;&nbsp;{{ bikeModel.priceOfTheDay }}</h4>

        </div>
        <div class="row">
            <span class="pull-right">
              <button class="btn btn-primary onAddToCart" (click)=onAddToCart(bikeModel) >In Winkelwagen</button>
<!--              <button class="btn btn-primary " (click)=onAddToCart(bikeModel) >In Winkelwagen</button>-->
              </span>
        </div>
      </div>
    </div>
  </div>
</a>
