<div class="row" style="text-align: center">
  <h1> {{ errorMessage }} </h1>
</div>
<hr><hr>
<div class="row">
  <button class="btn btn-primary btn-success btn-lg pull-right" routerLink="/shop">Return to shop!</button>
</div>
<div>
  <div class="row" style="text-align: center">
    <img src="{{this.randomErrorPhoto()}}"  alt="" height="500px">
  </div>
  <div class="row" style="text-align: center">
    <img src="https://thumbs.gfycat.com/AccurateElectricAsp-size_restricted.gif"  alt="" height="300px">
  </div>
</div>
<hr><hr>
<div class="row">
  <button class="btn btn-primary btn-success btn-lg pull-left" routerLink="/shop">Return to shop!</button>
</div>
