<div class="row" style="text-align: center">
  <h1> {{ errorMessage }} </h1>
</div>
<hr><hr>
<div class="row">
  <button class="btn btn-primary btn-success btn-lg pull-right" routerLink="/shop">Return to shop!</button>
</div>
<div>
  <div class="row" style="text-align: center">
    <img src="{{pickedPhoto}}"  alt="Error 404!" height="500px">
  </div>
  <div class="row" style="text-align: center">
    <img src="assets/404Photos/error_06.gif"  alt="It's Happening!" height="300px">
  </div>
</div>
<hr><hr>
<div class="row">
  <button class="btn btn-primary btn-success btn-lg pull-left" routerLink="/shop">Return to shop!</button>
</div>
