<div *ngIf="!this.loginFormService.userIsLoggedIn" class="row">
  <app-login-form></app-login-form>
</div>
<div class="alert alert-danger" *ngIf="orderService.errorMessage">
  <p><strong>Betaling ging fout!</strong></p>
</div>
<div class="alert alert-success" *ngIf="orderService.sendSuccess">
  <p><strong>Uw bestelling is goed verzonden en heeft order nummer {{orderService.responseBikeOrderId}}! Bedankt.</strong></p>
  <button class="btn btn-success btn-lg" (click)="onBackToShop()">Terug naar shop!</button>
</div>
<div *ngIf="loginFormService.userIsLoggedIn && !orderService.sendSuccess" class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2>U bent nu klaar om {{orderService.bikesInCart.length}} fietsen te bestellen met een totaal bedrag
      van &euro; {{orderService.totalOrderPrice}}</h2>
    <div style="text-align: center">
      <button class="btn btn-success btn-lg" (click)="onPlaceOrder()" [disabled]="this.orderService.bikesInCart.length<1">Order versturen</button>
    </div>
  </div>
</div>
