<div class="row" *ngIf="checkIfUserIsAdmin()">
  <div class="col-xs-12">
    <div class="alert alert-danger" *ngIf="this.orderService.errorMessage">
      <p><strong>Probleem met laden Orders van de database</strong></p>
    </div>
    <app-order-list-item
      *ngFor="let singleOrder of this.orderService.bikeOrders; let i = index"
      [bikeOrder]="singleOrder"
      [bikeOrderPrice] = "this.orderService.bikeOrderPrices[i]"
    ></app-order-list-item>
    <!--    [bikeOrderPrice] = "this.bikeOrderPrices[i]"-->
  </div>
</div>
