<div *ngIf="this.manageService.checkIfUserIsAdmin()">
  <div class="row">
    <div class="col-xs-3">
    <button class="btn btn-primary" (click)="onShowUserToggle()">
      {{showUserToggle ? "Verberg users" : "Geef users weer" }}
    </button>
      <br><br>
    </div>
    <div class="col-xs-6" >
    </div>
    <div class="col-xs-3" >
      <button class="btn btn-primary" (click)="onShowOrdersToggle()">
        {{showOrdersToggle ? "Verberg orders" : "Geef orders weer" }}
      </button>
      <br><br>
    </div>
  </div>
  <div class="row" *ngIf="showUserToggle">
    <hr>
    <app-manage-users></app-manage-users>
  </div>
  <div *ngIf="showOrdersToggle">
    <hr>
    <app-manage-orders></app-manage-orders>
  </div>
  <hr>
</div>
