<div class="row">
  <!--  <div><button (click)="manageView = false" *ngIf="this.manageView === true" [disabled]="manageView === true">Orders!</button></div>-->
  <!--  <div><button (click)="manageView = true" *ngIf="this.manageView === false" [disabled]="manageView === false">Klanten!</button></div>-->

  <!--  <div *ngIf="this.manageView === true">-->
  <!--    <app-manage-orders></app-manage-orders>-->
  <!--  </div>-->
  <!--  <div *ngIf="this.manageView === false">-->
  <!--    <app-manage-users></app-manage-users>-->
  <!--  </div>-->
  <app-manage-orders></app-manage-orders>
</div>
